@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#task-frontend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#task-frontend .bg {
  position: fixed;
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  z-index: -999;
  background: url(../img/bg.jpg);
  background-position: 66%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

#task-frontend form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 2em;
  background: gray;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.3))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.39) 120%) #8a8989;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.3) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.39) 120%) #8a8989;
  background-blend-mode: multiply,multiply;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px #222;
          box-shadow: 0px 0px 10px 0px #222;
  color: white;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222, 0px 0px 2px #222;
  -webkit-animation: opacityIn 0.5s 0.2s ease-out backwards;
          animation: opacityIn 0.5s 0.2s ease-out backwards;
}

#task-frontend form > *:not(:first-child) {
  margin-top: 1.5rem;
}

@media screen and (max-height: 750px) {
  #task-frontend form .logo {
    display: none;
  }
}

#task-frontend form .basic-title {
  font-size: 2em;
  text-align: center;
}

#task-frontend form .textbox-wrapper {
  position: relative;
}

#task-frontend form .textbox-wrapper label {
  position: absolute;
  margin: 0.5em;
  top: 0;
  left: 0;
  color: black;
  text-shadow: none;
  cursor: text;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
}

#task-frontend form .textbox-wrapper label.active {
  position: absolute;
  cursor: default;
  top: -1.8em;
  left: -0.2em;
  font-size: 0.8em;
  color: white;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222, 0px 0px 2px #222;
}

#task-frontend form .textbox-wrapper input[type] {
  width: 70vw;
  max-width: 500px;
  padding: 0.5em;
  font-size: 1em;
  color: black;
  text-shadow: none;
  -webkit-box-shadow: 0 0 5px #555;
          box-shadow: 0 0 5px #555;
  border: 1px solid white;
  outline: none;
  border-radius: 2px;
}

#task-frontend form .textbox-wrapper input[type]:focus, #task-frontend form .textbox-wrapper input[type]:active {
  outline: 2px solid #ECB650;
}

#task-frontend form .textbox-wrapper input[type].error {
  outline: 2px solid red;
}

#task-frontend form .checkbox-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#task-frontend form .checkbox-grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#task-frontend form .checkbox-grid > div > div {
  margin: 0.25em 1em;
}

#task-frontend form .checkbox-grid.error {
  outline: 2px solid red;
  border-radius: 5px;
}

#task-frontend form .checkbox-grid .checkbox-wrapper {
  cursor: default;
}

#task-frontend form .checkbox-grid .checkbox-wrapper input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#task-frontend form .checkbox-grid .checkbox-wrapper input[type=checkbox]:before {
  content: "\2713";
  width: 1em;
  height: 1em;
  display: inline-block;
  background: white;
  border-radius: 2px;
  padding: 0px 1px 5px 4px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#task-frontend form .checkbox-grid .checkbox-wrapper input[type=checkbox]:checked:before {
  content: "\2713";
  width: 1em;
  height: 1em;
  display: inline-block;
  background: #ECB650;
  border-radius: 2px;
  padding: 0px 1px 5px 4px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#task-frontend form input[type=submit] {
  display: block;
  padding: 0.6em 1em;
  font-size: 1.25em;
  border: 1px solid white;
  color: white;
  -webkit-box-shadow: 0 0 5px -1px #555;
          box-shadow: 0 0 5px -1px #555;
  border-radius: 5px;
  cursor: pointer;
  background: #ECB650;
  background-image: linear-gradient(140deg, #EC8532 0%, #ECB650 50%, #EC8532 100%);
  background-size: 200% auto;
  text-shadow: 0px 0px 2px #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#task-frontend form input[type=submit]:hover, #task-frontend form input[type=submit]:focus, #task-frontend form input[type=submit]:active {
  background-position: right center;
  /* change the direction of the change here */
}

#task-frontend footer {
  position: absolute;
  font-size: 0.8em;
  bottom: 1em;
  color: lightgray;
  text-align: center;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}

#task-frontend footer a {
  color: gray;
  text-underline-offset: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#task-frontend footer a:hover, #task-frontend footer a:focus, #task-frontend footer a:active {
  color: #555;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
